<app-header (voiceText)="receiveMessage($event)"></app-header>
<div class="app-container mat-drawer-container">
  <div class="sub-container">
    <h1 class="heading-text" id='heading'>Which movie are you looking for?</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="search" appearance="fill">
        <mat-label>Enter movie title</mat-label>
        <input matInput placeholder="Fast and Furious" formControlName="searchTerm" required>
        <mat-error *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="!form.valid" mat-raised-button color="accent"> Search</button>
    </form>
    <br>

    <div class="results">

      <div class="column">
        <div *ngFor="let movie of movies" class="movie">
          <div class="movie-img" style='background-image: url({{movie.Poster}})'></div>
          <div class="text-movie-cont">
            <div class="mr-grid">
              <div class="col1">
                <h1>{{movie.Title}}</h1>
                <ul class="movie-gen">
                  <li>{{movie.Rated}} /</li>
                  <li>{{movie.Runtime}} /</li>
                  <li>{{movie.Genre}} /</li>
                  <li>{{movie.Released}}</li>
                </ul>
              </div>
            </div>
            <div class="mr-grid summary-row">
              <div class="col2">
                <h5>SUMMARY</h5>
              </div>
            </div>
            <div class="mr-grid">
              <div class="col1">
                <p class="movie-description">{{movie.Plot}}</p>
              </div>
            </div>
            <div class="mr-grid actors-row">
              <div class="col1">
                <p class="movie-actors">{{movie.Actors}}</p>
              </div>
            </div>
            <div class="mr-grid summary-row">

              <div class="col2">
                <ul class="movie-gen">
                  <li>
                    Metascore: {{movie.Metascore}} /
                  </li>
                  <li>
                    imdbRating: {{movie.imdbRating}} /
                  </li>
                  <li>
                    imdbVotes: {{movie.imdbVotes}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="mr-grid action-row">
              <div class="watch-btn">
                <button mat-raised-button color="accent" (click)="openYoutube(movie.Title)">
                  <mat-icon>play_arrow</mat-icon>
                  WATCH TRAILER
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator *ngIf="movies.length != 0" [length]="length" [pageSize]="pageSize" [pageIndex]="page"
        (page)="pageEvent = loadMovies($event)"  aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>